*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: $primary;
    margin-bottom: $base-margin;
}

a {
    color: $secondary;
}

button {
    color: white;
    border: 0;
    background-color: $secondary;
    border-radius: $base-border-radius;
    padding:$base-padding;
}