.test-btn {
  background-color: #9900ff;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-block-start: 0.1rem dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: #326dee;
}

h1 {
  color: #326dee;
  margin-bottom: 0.75rem;
}

button {
  color: white;
  border: 0;
  background-color: #1ac886;
  border-radius: 2rem;
  padding: 0.75rem;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 0.1rem solid #ddd;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  margin-block-start: 3rem;
  border-radius: 0.5rem;
}
.card .card-title {
  font-size: 2.4rem;
  padding-block-end: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1.6rem;
}
.card .card-body a {
  text-decoration: underline;
}